In [1]:
import numpy as np
import pandas as pd

In [37]:
df = pd.read_csv("train.csv")

In [19]:
# refining
def f1(s):
    if s=='Petrol':
        return 0
    elif s=='Deisel':
        return 1
    else:
        return 2
def f2(s):
    if s=='Automatic':
        return 0
    elif s=='Manual':
        return 1
    else:
        return 2
def refine(data):
    data.drop(columns='model',inplace=True)
    data.fuelType=data.fuelType.apply(f1)
    data.transmission = data.transmission.apply(f2)

In [38]:
refine(df)
print(df)
print(df.shape)
print(df.dtypes)

      car_id  year  price  transmission  mileage  fuelType  tax    mpg  \
0       7965  2014  11200             0    67068         2  125   57.6
1       7966  2018  27000             0    14827         0  145   42.8
2       7967  2016  16000             0    62794         2  160   51.4
3       7968  2017  12750             0    26676         2  145   72.4
4       7969  2014  14500             0    39554         2  160   50.4
...      ...   ...    ...           ...      ...       ...  ...    ...
8619   16584  2018  13100             0    33372         0  145   58.9
8620   16585  2017  19300             0    32867         2    0  470.8
8621   16586  2017  11400             1    37000         0  125   53.3
8622   16587  2015  13800             0    29867         2   30   65.7
8623   16588  2018  14995             0    13889         0  145   55.4

      engineSize
0            2.0
1            2.0
2            3.0
3            1.5
4            3.0
...          ...
8619         1.5
8620         0.6
8621         1.5
8622         2.0
8623         1.5

[8624 rows x 9 columns]
(8624, 9)
car_id            int64
year              int64
price             int64
transmission      int64
mileage           int64
fuelType          int64
tax               int64
mpg             float64
engineSize      float64
dtype: object

In [39]:
y = df.price
print(y)
print(y.shape)

0       11200
1       27000
2       16000
3       12750
4       14500
        ...
8619    13100
8620    19300
8621    11400
8622    13800
8623    14995
Name: price, Length: 8624, dtype: int64
(8624,)

In [40]:
print(df.columns)

Index(['car_id', 'year', 'price', 'transmission', 'mileage', 'fuelType', 'tax',
       'mpg', 'engineSize'],
      dtype='object')

In [42]:
x = df.loc[:,df.columns!='price']
print(x)
print(x.shape)

      car_id  year  transmission  mileage  fuelType  tax    mpg  engineSize
0       7965  2014             0    67068         2  125   57.6         2.0
1       7966  2018             0    14827         0  145   42.8         2.0
2       7967  2016             0    62794         2  160   51.4         3.0
3       7968  2017             0    26676         2  145   72.4         1.5
4       7969  2014             0    39554         2  160   50.4         3.0
...      ...   ...           ...      ...       ...  ...    ...         ...
8619   16584  2018             0    33372         0  145   58.9         1.5
8620   16585  2017             0    32867         2    0  470.8         0.6
8621   16586  2017             1    37000         0  125   53.3         1.5
8622   16587  2015             0    29867         2   30   65.7         2.0
8623   16588  2018             0    13889         0  145   55.4         1.5

[8624 rows x 8 columns]
(8624, 8)

In [45]:
columnss = x.columns
print(columnss)
for c in columnss:
    if c!='car_id':
        s = c+"_"+c
        x[s]=x[c]**2
print(x.columns)

Index(['car_id', 'year', 'transmission', 'mileage', 'fuelType', 'tax', 'mpg',
       'engineSize'],
      dtype='object')
Index(['car_id', 'year', 'transmission', 'mileage', 'fuelType', 'tax', 'mpg',
       'engineSize', 'year_year', 'transmission_transmission',
       'mileage_mileage', 'fuelType_fuelType', 'tax_tax', 'mpg_mpg',
       'engineSize_engineSize'],
      dtype='object')

In [47]:
print(x.dtypes)

car_id                         int64
year                           int64
transmission                   int64
mileage                        int64
fuelType                       int64
tax                            int64
mpg                          float64
engineSize                   float64
year_year                      int64
transmission_transmission      int64
mileage_mileage                int64
fuelType_fuelType              int64
tax_tax                        int64
mpg_mpg                      float64
engineSize_engineSize        float64
dtype: object

In [48]:
x['mpg*engine'] = x['mpg']*x['engineSize']
print(x.dtypes)

car_id                         int64
year                           int64
transmission                   int64
mileage                        int64
fuelType                       int64
tax                            int64
mpg                          float64
engineSize                   float64
year_year                      int64
transmission_transmission      int64
mileage_mileage                int64
fuelType_fuelType              int64
tax_tax                        int64
mpg_mpg                      float64
engineSize_engineSize        float64
mpg*engine                   float64
dtype: object

In [52]:
x['year^3']=x['year']**3
x['year^4']=x['year']**4
print(x.dtypes)

car_id                         int64
year                           int64
transmission                   int64
mileage                        int64
fuelType                       int64
tax                            int64
mpg                          float64
engineSize                   float64
year_year                      int64
transmission_transmission      int64
mileage_mileage                int64
fuelType_fuelType              int64
tax_tax                        int64
mpg_mpg                      float64
engineSize_engineSize        float64
mpg*engine                   float64
year^3                         int64
year^4                         int64
dtype: object

In [9]:
from sklearn import model_selection

In [53]:
x1,x2,y1,y2 = model_selection.train_test_split(x,y)

In [11]:
from sklearn.linear_model import LinearRegression

In [54]:
alg = LinearRegression()

In [55]:
alg.fit(x1,y1)

LinearRegression()

In [56]:
y_pred_testing = alg.predict(x2)
print(alg.score(x2,y2))

0.673465498952075